.main-page {
    margin: 0 auto;
    width: 100%;
}
.card-body {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.card-pic-body {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.card-row-top {
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
}
.card-row-bottom {
    clear: left;
    width: 100%;
    display: flex;
    justify-content: center;
}

.team-card {
  background-color: #dfdce3;
  float: left;
  height: 25%;
  width: 40%;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 8px 16px 0 rgba(1,1,1,0.2), 0 6px 20px 0 rgba(1,1,1,0.2);
}

.header-display {
    text-align: center;
}

.header-desc {
    font-size: 14px;
    padding: 10px;
    text-align: left;
    margin: 0 auto;
    width: 400px;
}

.no-border {
    border: 0 !important;
}

.img-wrapper {
    width: 1200;
}

.bottom-image {
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.per-linkedin {
    border-radius: 3px;
    padding-top: 1px;
    border: 1px solid;
    height: 25px;
    width: 25px;
    margin: 0 auto;
}

.name {
    margin-top: 15px;
    margin-bottom: 3px;
}

