.dashboard-container {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.job-list {
  height: 100%;
  flex-basis: 100%;
  margin-right: 5px;
  margin-left: 5px;
}

.task-list {
  height: 100%;
  flex-basis: 50%;
  margin-left: 5px;
}

.job-list-scroll {
  height: 430px;
}

.card-horizontal {
  height: 50px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 5px;
}

.ind-card {
  width: 100%;
}

.card-company {
  padding-top: 12px;
  padding-left: 5px;
  text-align: left;
  width: 33%;
  float: left;
}

.card-status {
  text-align: center;
  padding-top: 12px;
  width: 33%;
  float: left;
}

.card-icons {
  padding-right: 5px;
  padding-top: 12px;
  text-align: right;
  width: 33%;
  float: right;
}

.add-task {
  font-size: 2rem;
}

.description, .date-due {
  display: inline-flex;
  font-size: 3rem;
  margin: auto;
}

