.dashboard-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.job-list {
  border: 1px dashed black;
  height: 100%;
  flex-basis: 50%;
  margin-right: 5px;
}

.task-list {
  border: 1px dashed black;
  height: 100%;
  flex-basis: 50%;
  margin-left: 5px;
}

.card-horizontal {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 5px;
}

.company-name, .status {
  display: inline-flex;
  font-size: 3rem;
  margin: auto;
  /*padding-left: 10px;*/
}

.add-task {
  align-items: right;
  font-size: 3rem;
  padding: 15px 15px;
  margin: auto;
}

.description, .date-due {
  display: inline-flex;
  font-size: 3rem;
  margin: auto;
}
