.dashboard-container {
  display: flex;
  justify-content: space-between;

}

.job-list {
  height: 100%;
  flex-basis: 50%;
  margin-right: 5px;
}

.task-list {
  border: 1px dashed black;
  height: 100%;
  flex-basis: 50%;
  margin-left: 5px;
}

.card-horizontal {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 5px;
}

.company-name, .status {
  flex-basis: 40%;
  text-align: left;
  font-size: 3rem;
  margin-left: 10px;
  /*padding-left: 10px;*/
}

.status {
  flex-basis: 25%;
}

.add-task {
  flex-basis: 15%;
  text-align: right;
  font-size: 3rem;
  padding: 13px 15px;
}

.description, .date-due {
  display: inline-flex;
  font-size: 3rem;
  margin: auto;
}
