.goal-progress-bar-list {
  margin: 5px;
}

.goal-card {
  height: 215px;
  background-color: $color-info-containers;
  margin: 5px;
}

.control-label {
  font-family: $text-standard;
  font-size: $text-small;
}

.goal-title {
  font-family: $text-standard;
  font-size: $text-medium;
  margin: 0px;
  color: $color-text-light;
  padding-left: 3px;
  text-align: left;
  background-color: $color-header;
  width: 100%;
  height: 20px;
}

.goal-main-input {
  margin-top: 20px;
  float: left;
  text-align: center;
  width: 100%;
  height: 100px;
}

.goal-card-input {
  position: relative;
  text-align: center;
  margin: 5px;
  margin: 3px;
  float: left;
  width: 25%;
  height: 100%;
}

.goal-card-goal {
  text-align: center;
  margin: 5px;
  margin: 3px;
  float: left;
  width: 25%;
  height: 100%;
}

.goal-card-smlgrph {
  position: relative;
  text-align: center;
  margin: 5px;
  margin: 3px;
  float: left;
  width: 40%;
  height: 100%;
}

.goal-input {
  font-family: $text-standard;
  padding: 8% 0;
  font-size: $text-medium;
  width: 66%;
  height: 50px;
  margin: 0 auto;
}

.goal-graph {
  padding-top: 5px;
  width: 66% px;
  height: 84px;
  margin: 0 auto;
  margin-top: 5px;
}

.button-edit {
  font-family: $text-standard;
  margin: 0 auto;
  padding: 0px;
  font-size: $text-medium;
  width: 66%;
}

.start-date {
  float:left;
  width: 50%;
  height: 50%;
}

.end-date {
  float: left;
  width: 50%;
  height: 50%;
}

.date-container {
  float: left;
  height: 30%;
}

