.nav-names {
  color: white;
}

.main-nav {
  width: 75%;
  text-align: center;
}

.my-nav {

  padding-right: 10px;
}

.header-logout {
  margin-right: 20px;
  float: right;
}

.glyphicon.nav-names.glyphicon-log-in {
  float: left;
  margin-top: 18px;
}

.logout-link {
  float:left;

}

.navbar.navbar-light.my-nav {
  text-align: center;
}