.navbar.navbar-light.my-nav {
  background-color: $color-background;
}

.nav-names {
  font-family: $text-standard;
  font-size: $text-medium;
  color: $color-text-dark;
}

.main-nav {
  width: 75%;
  text-align: center;
}

.my-nav {
  padding-right: 10px;
}

.header-logout {
  margin-right: 20px;
  float: right;
}

.glyphicon.nav-names.glyphicon-log-in {
  float: left;
  margin-top: 18px;
}

.logout-link {
  font-family: $text-standard;
  font-size: $text-medium;
  color: $color-text-dark;
  float:left;
}

.navbar.navbar-light.my-nav {
  text-align: center;
}