.job-button-url {
    float: right;
    width: 25%;
    height: 100%;
    background-color: #52658F;
    color: $color-text-light;
    margin: 0 auto;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: $text-standard;
    font-size: $text-medium;
}

.input-job-url {
  float: left;
  width: 75%;
  height: 100%;
}

.jobdesc-buttons {
  width: 100%;
  height: 35px;
  border-radius: 4px;
}

.jobdesc-main {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

.company-details {
  width: 100%;
  text-align: center;
}

.jobdesc-scroll-main {
  height: 500px;
  width: 100%;
  overflow: auto;
  background-color: $color-info-containers;
}

.jobdesc-heading {
  font-family: $text-title;
  font-size: $text-large;
  width: 100%;
  background-color: $color-header;
  color: $color-text-light;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: 60%;
  text-align: center;
}

