.job-button-url {
    float: right;
    width: 25%;
    height: 100%;
    background-color: #52658F;
    color: white;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}


.input-job-url {
  float: left;
  width: 75%;
  height: 100%;
}

.jobdesc-buttons {
  width: 100%;
  height: 35px;
}

.jobdesc-main {
  margin-top: 30px;
  border: 2px solid;
  width: 100%;
  text-align: center;
}

.company-details {
  width: 100%;
  text-align: center;
}

.jobdesc-scroll-main {
  height: 500px;
  width: 100%;
  overflow: auto;
  background-color: white;
}

.jobdesc-heading {
  width: 100%;
  background-color: #333a56;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: 60%;
  text-align: center;
}

