.job-information-page {
  display: flex;
  flex-wrap: wrap;
}

.application-contacts {
  flex-direction: column;
  flex-basis: 30%;
}

.activity-log {
  flex-basis: 60%;
  margin: 15px;
  flex-order: 2;
}

.activity-scroll {
  word-wrap: normal;
  height: 400px;
  width: 90%
}

.activity {
  word-wrap: normal;
  border-bottom: 2px solid #52658F;
}

.activity-description {
  word-wrap: normal;
}

.activity-date {

}

.basic-information {
  display: flex;
  border: 1px dashed black;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px;
  flex-basis: 60%;
}

.job-status {
  margin: 5px;
}

.company-details {
  margin: 5px;
}

.offer-details {
  margin: 5px;
}