p {
  margin: 1px;
}

.creation-date {
  font-size: 24px;
  margin: 5px;
  padding-right: 5px;
}

.details {
  background-color: #333a56;
  height:37px;

}

.job-url {
  background-color: #333a56;
  color: white;
  padding: 5px;
  width: 50%;
  float: left;
}

.position-details-info {
  padding-left: 5px;
  width: 50%;
  height: 100%;
}

.details-info {
  background-color: white;
}

.position-details {
  color: white;
  padding: 5px;
  height: 100%;
  width: 50%;
  float: left;
}

.top-divs {

}

.status-bar {
  background-color: green;
  height: 25px;
  width: 100%;
}

hr {
  margin: 3px;
}

h4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.main-view {
  height: 1250px;
  width:100%;
  padding: 25px;
}

.job-area {
  float: left;
  width: 75%;
}

.app-contacts {
  border-left: 10px solid #f7f5e6;
  border-bottom: 15px solid #f7f5e6;
  background-color: white;
  height: 100%;
  width: 25%;
  float: left;
}


.job-information-page {
  display: flex;
  flex-wrap: wrap;
}

.act-title-text {
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.activity-title {
  background-color: #333a56;
  padding-left: 5px;
  width: 100%;
  text-align: center;
  color: white;
}
.activity-log {
  width: 100%;
  flex-basis: 60%;
  margin-top: 15px;
  flex-order: 2;
}

.activity-scroll {
  word-wrap: normal;
  height: 400px;
  width: 100%
}

.activity {
  word-wrap: normal;
}

.activity-description {
  background-color: white;
  clear: right;
  padding: 7px;
  word-wrap: normal;
}

.action-head {
  padding-left: 7px;
  padding-bottom: 2px;
  padding-top: 2px;
  overflow:auto;
  color: white;
  background-color: #52658f;
}

.activity-date {
 padding-left: 7px;
}

.basic-heading {
  background-color: #333a56;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: 60%;
}

.basic-information {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: 60%;
}

#contact-name-box {
  margin:0;
  padding:5px;
  background-color: #333a56;
  color:white;
}

.contact-text {
  padding-left: 7px;
  padding-bottom: 7px;
}

#contact-name-text {
  margin: 0px;
}

.creation-info {
  margin-right: 5px;
}

.company-info {
  margin-left: 5px;
}

.head-color {
  width: 100%;
  height: 20px;
  background-color: #333a56;
  overflow: auto;
  z-index: 10;
}

.job-status {
  margin: 5px;
}

.company-details {
  font-size: 32px;
  margin: 5px;
}

.offer-details {
  font-size: 24px;
  margin: 5px;
}

.large-plus-sign {
  font-size: 72px;
  color: gray;
}

.update-buttons {
  display: flex;
  justify-content:space-around;
  margin: 12px 0 0 0;
}

#job-info-button {
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
}
