.form-control{
  margin-top: 5px !important;
  margin-bottom: 15px !important;
  height: 40px;
}
.logo{
  margin: auto;
  text-align: center;
  padding-top: 25%;
}
.logo img{
  height: 70px;
}
/*footer*/
.footer a{
  color: #000;
  text-decoration: none;
}
.footer{
  color: #000;
  text-align: center;
}
/*footer end*/


/*for logintemplate blue*/
.grayBody{
  background-color: $color-info-containers;
}
.loginbox{
  text-align: center;
  margin-top: 5%;
  border-top: 6px solid $color-header;
  background-color:$color-info-containers;
  padding: 20px;
  box-shadow: 0 10px 10px -2px rgba(0,0,0,0.12),0 -2px 10px -2px rgba(0,0,0,0.12);
}
.singtext{
  font-size: 28px;
  color: $color-text-dark;
  font-weight: 500;
  letter-spacing: 1px;
}
.submitButton{

  background-color: $color-button-background;
  color: $color-text-button;
  margin-top: 12px;
  margin-bottom: 10px;
  padding: 10px 0px;
  width: 50%;
  margin-left: 2px;
  font-size: 16px;
  border-radius: 4px;
  outline: none;
}
.submitButton:hover,.submitButton:focus{
  color: $color-text-light;
  outline: none;
}
.forGotPassword{
  background-color: $color-header;
  padding: 15px 0px;
  text-align: center;
  margin-bottom: 50%;

}
.forGotPassword:hover{
   box-shadow: 0 10px 10px -2px rgba(0,0,0,0.12);
}
.forGotPassword a{
  color: $color-text-light;
  outline: none;
}
.forGotPassword a:hover, .forGotPassword a:active,.forGotPassword a:focus{
  text-decoration: none;
  outline: none;
}



