.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 12;
  background-color: rgba(0, 0, 0, 0.5);
}

.add-job-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 13;
  transform: translate(-50%, -50%);
}