/*SITE COLORS*/

//#b8d20b //LIME GREEN
//#efefef //LIGHT GREY
//#caebf2 //LIGHT BLUE
//#a9a9a9 //DARK GREY
//#ff3b3f //REDDISH

//INFILL COLORS

$color-background: #b8d20b; //BACKGROUND COLOR FOR ENTIRE SITE
$color-header: #ff3b3f; //HEADER COLOR
$color-info-containers: #efefef; //INFORMATION CONTAINER COLOR BELOW HEADERS
$color-card: #caebf2; //JOB APPLICATION CARD COLOR
$color-button-background: #a9a9a9; //ALL BUTTONS BACKGROUND COLOR

//TEXT STILL NEEDS SOME ORGANIZATION

$color-text-light: white; //TYPICALLY HEADER TEXT
$color-text-dark: white;  //TYPICALLY BODY TEXT
$color-text-button: white; //ALL BUTTON TEXT

