@import 'base/variables';

// Components
@import 'components/_Root';
@import 'components/login';
@import 'components/services';
@import 'components/footer';
@import 'components/splash';
@import 'components/header';
@import 'components/about-us';
@import 'components/jobdescription';
@import 'components/datepick';
@import 'components/visualdata';
@import 'components/goals';
@import 'components/container';
@import 'components/page-title';
@import 'components/test';
@import 'components/dashboard';
@import 'components/job-information';
@import 'components/modals';
