/*================ABOUT US==================*/


.team-card {
  border: 2px solid;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 8px 16px 0 rgba(1,1,1,0.2), 0 6px 20px 0 rgba(1,1,1,0.2);
}


/*================GENERAL==================*/

/*.my-logo {
    top: 0px;
    position: absolute;
    width: 100%;
    height:500px;
    background: url("/images/logo.png") no-repeat scroll;
    background-size: contain;
    z-index: 3;
  }*/
body {
  background-color: #F7F5E6;
}
.button-container {
  position: absolute;
  bottom: 50px;
  right: 100px;
}

.bottom-button {
  clear: right;
  margin-top: 15px;

}

.button {
    float: right;
    width: 175px;
    background-color: #52658F; /* Green */
    border: solid;
    border-width: 1px;
    border-color: #f7f5e6;
    border-radius: 3px;
    color: white;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(1,1,1,0.2), 0 6px 20px 0 rgba(1,1,1,0.2);
}

/*================SERVICES PAGE==================*/

.icon i{
  color: #0cb8b6;
  font-size: 45px;
  margin-bottom: 25px;
}
.service-info{
  margin-bottom: 20px;
}
.icon-info h4{
  padding-bottom: 15px;
}
.icon-info p{
  font-size: 15px !important;
}


/*================SPLASH PAGE==================*/
.main-splash {
  position: relative;
}

.splash-bottom {
  margin-top: 25px;

}

/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

.business-header {
    position: relative;
    height: 400px;
    background: url("/images/slider3.png") center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}

/* Customize the text color and shadow color and to optimize text legibility. */
.position-type {
  position: absolute;
}
.text-center {
  color: #333A56;
  font-family: "Lucida Bright", Georgia, serif;
  text-align: center;
}

.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}

.img-center {
    margin: 0 auto;
    box-shadow: 0 8px 16px 0 rgba(1,1,1,0.2), 0 6px 20px 0 rgba(1,1,1,0.2);
}

footer {
    margin: 50px 0;
}
/*================ROOT==================*/
.root-view {


}

.job-card{
  width: 100%;
}

.job-app-header {
  height: 40px;
  background-color: #333a56;
}

.job-app-text {
  margin: 0px;
  padding-top: 7px;
  color: white;

}

.root-main {

  text-align: center;
  margin: auto;
  height: 750px;
  width: 100%;
  padding: 20px;

}

.root-main-apps {
  float: left;
  text-align: center;
  width: 32%;
  border: 2px solid;
  margin: 7px;
  padding-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.root-main-tasks {
  float: left;
  text-align: center;
  width: 32%;
  border: 2px solid;
  margin: 7px;
  padding-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.root-main-goals {
  background-color: #f7f5e6;
  float: left;
  text-align: center;
  width: 32%;
  border: 2px solid;
  margin: 7px;
  padding-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.root-background {
  padding-right: 0px;
  padding-left: 0px;
  background-color: #F7F5E6;
}


/*================HEADER==================*/

.nav-names {
  color:white;
}

.my-nav {
  border-radius: 0px;
  padding-right: 10px;
}
/*================LOGIN PAGE==================*/


.form-control{
  border-radius: 0px;
  margin: 12px 3px;
  height: 40px;
}
.logo{
  margin: auto;
  text-align: center;
  padding-top: 25%;
}
.logo img{
  height: 70px;
}
/*footer*/
.footer a{
  color: #000;
  text-decoration: none;
}
.footer{
  color: #000;
  text-align: center;
}
/*footer end*/


/*for logintemplate blue*/
.grayBody{
  background-color: #E8E8E8;
}
.loginbox{
  text-align: center;
  margin-top: 5%;
  border-top: 6px solid #333a56;
  background-color:#E8E8E8;
  padding: 20px;
  box-shadow: 0 10px 10px -2px rgba(0,0,0,0.12),0 -2px 10px -2px rgba(0,0,0,0.12);
}
.singtext{
  font-size: 28px;
  color: #52658F;
  font-weight: 500;
  letter-spacing: 1px;
}
.submitButton{

  background-color: #52658F;
  color: #fff;
  margin-top: 12px;
  margin-bottom: 10px;
  padding: 10px 0px;
  width: 50%;
  margin-left: 2px;
  font-size: 16px;
  border-radius: 4px;
  outline: none;
}
.submitButton:hover,.submitButton:focus{
  color: #fff;
  outline: none;
}
.forGotPassword{
  background-color: #333a56;
  padding: 15px 0px;
  text-align: center;
  margin-bottom: 50%;

}
.forGotPassword:hover{
   box-shadow: 0 10px 10px -2px rgba(0,0,0,0.12);
}
.forGotPassword a{
  color: #fff;
  outline: none;
}
.forGotPassword a:hover, .forGotPassword a:active,.forGotPassword a:focus{
  text-decoration: none;
  outline: none;
}

/*===========BELOW IS ALL STATIC FOOTER=============*/



.footer-distributed{
  background-color: #52658F;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  margin-bottom: 0;
  padding: 15px;

}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  position: relative;
  height: 200px;
  width: 40%;
}


/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  margin-right: 12px;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  position: absolute;
  bottom: 0;
  color:  white;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  white;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 10px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;

  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}




@media (max-width: 880px) {

  .footer-distributed{
    position: fixed;
    bottom: 0;
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }
}
